* {
  font-family: "Nanum Myeongjo", serif;
}
body {
  width: 768px;
  height: 768px;
  margin: auto;
}
h1 {
  text-align: center;
}
.square {
  margin-left: auto;
  margin-right: auto;
  border: 2px;
  border-color: #ff69b4;
  border-style: solid;
  width: 80px;
  height: 80px;
  font-size: 2rem;
  font-weight: 700;
  float: left;
  text-align: center;
}
.total {
  margin-left: auto;
  margin-right: auto;
  width: 252px;
  height: 252px;
  display: table-cell;
  vertical-align: middle;
  float: left;
  border: 2px;
  border-color: #ff69b4;
  border-style: solid;
}
.center {
  background-color: #fd8bc4;
  color: aliceblue;
}
.real-center {
  background-color: #f855a6;
  color: aliceblue;
}
